body{
    font-family: Verdana, Arial, 'Courier New';
}
@font-face {
    font-family: Moon;
    src: url(assets/font/MoonDance-Regular.ttf);
  }
nav{
    background-color: #232323;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    position: absolute;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    align-items: center;
    top: 0px;
    left: 0px;
    font-family: Moon;
    color: ##89CFF0;
}
nav a{
text-decoration: none;
color: #89CFF0;
height: 20%;
padding: 5px;
}
.menu{
display: flex;
text-decoration: none;
color: ##89CFF0;    
justify-content: space-around;
align-content: center;
}
div.menup2{  
display: flex;
flex-wrap: wrap;
flex-direction:column;
}
.menup1 img{
    width: 8%;
    height: auto;
}
.menup1{
    display: contents;
}
div.menup2 form{
    display: contents;
}
.entrada{
    display: flex;
    justify-content: space-between;
}
